html,body
{
	margin: 0;
	background: #333333;
	font-family: "Arial","Helvetica","黑体","微软雅黑","华文细黑","幼圆";
	-webkit-user-select:none;
	overflow: hidden;
}

.mousedown
{
    -webkit-filter:brightness(0.5);
}