.QuickBar
{
	position: absolute;
	border: solid 1px #666699;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
	background-image: url(../images/whiteAlphaBg.png);
	box-shadow:0px 15px 50px rgba(0,0,0,0.5);
}

.QuickBar .light
{
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: #000000;
	position: absolute;
}