.CloudOS.Win
{
	position: absolute;
	border: solid 1px #666699;
	box-shadow:0px 25px 50px rgba(0,0,0,0.5);
	border-radius:5px;
}

.CloudOS.Win .content
{
	position: absolute;
	background-color: #ffffff;
}

.CloudOS.Win .closeBt
{
	position: absolute;
	width: 40px;
	height: 22px;
	background-color: #fb6266;
}

.CloudOS.Win .closeBt .icon
{
	width: 22px;
	height: 22px;
	background-image: url(../images/close.png);
	margin-left: 9px;
}

.CloudOS.Win .closeBt_over
{
	background-color: #ffaa00;
}

.CloudOS.Win .closeBt_down
{
	background-color: #ff3300;
}

.CloudOS.Win .minBt .icon
{
	width: 22px;
	height: 22px;
	background-image: url(../images/min_b.png);
	margin-left: 4px;
}

.CloudOS.Win .minBt .icon_over
{
	background-image: url(../images/min_w.png);
}

.CloudOS.Win .maxBt .icon
{
	width: 22px;
	height: 22px;
	background-image: url(../images/max_b.png);
	margin-left: 4px;
}

.CloudOS.Win .minBt,.maxBt
{
	position: absolute;
	width: 30px;
	height: 22px;
}

.CloudOS.Win .minBt_over,.maxBt_over
{
	background-color: #5555ff;
}

.CloudOS.Win .minBt_down,.maxBt_down
{
	background-color: #222299;
}

.CloudOS.Win .minBt_disable,.maxBt_disable
{
	opacity: 0.2;
}

.CloudOS.Win .title
{
	position: absolute;
	font-size: 16px;
	overflow: hidden;
	cursor: default;
}

.CloudOS.Win .winIcon
{
	position: absolute;
	left: 5px;
	top: 5px;
}